<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started with Spring</title>
</head>
<body>

<div>
    <div>Welcome to Sweater application</div><br>
    <div>This application was developed during completion of course on YouTube channel: "LetsCode".</div>
    <a href="https://www.youtube.com/watch?v=jH17YkBTpI4&list=PLU2ftbIeotGoGSEUf54LQH-DgiQPF2XRO&ab_channel=letsCode">
        Spring Boot (Sweater App) - YouTube playlist.
    </a><br>
    <a href="https://github.com/OleksandrTrypolskyi/sweater">Github Repository</a>
    <br><br><br>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Enter message">
        <input type="text" name="tag" placeholder="Enter tag">
        <button type="submit">Add message</button>
    </form>
    <br><br><br>
</div>

<div>
    <div>List of messages:</div><br>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Filter by message text">
        <button type="submit">Find</button>
    </form>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</div>
</body>
</html>